@model FaktureStavkeApp.ViewModels.FakturaStavkaDetaljiVM

@{
    ViewBag.Title = "Details";
}

<h2>Detalji fakture</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Name("BROJ FAKTURE")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojFakture)
            <br />
        </dd>

        <dt>
            @Html.Name("DATUM DOSPIJECA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumDospijeca)
        </dd>
        <dt>
            @Html.Name("PRIMATELJ RAČUNA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimateljRacuna)
        </dd>
    </dl>
</div>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Opis</th>
            <th>Količina</th>
            <th>Jedinična cijena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var i in Model.Stavke)
        {
            <tr>

                <td>@i.Opis</td>
                <td>@i.KolicinaProdaneStavke</td>
                <td>@i.JedinicnaCijenaPDV</td>
                <td>
                    @Html.ActionLink("Obriši", "Delete", "FakturaStavka", new { id = i.FakturaStavkaId }, i.FakturaStavkaId) | 
                    @Html.ActionLink("Uredi", "Edit", "FakturaStavka", new { id = i.FakturaStavkaId }, i.FakturaStavkaId)  

                </td>

            </tr>
        }
    </tbody>
</table>
<br />
<div style="text-align:right"><h5 style="font-weight:bold">Iznos bez PDV: @Model.CijenaBezPDV</h5></div>

<div style="text-align:right"><h4 style="font-weight:bold">UKUPNO: @Model.CijenaPDV</h4></div>
<br />
<p>
    @*@Html.ActionLink("Uredi", "Edit", new { id = Model.FakturaID }) |*@
    @Html.ActionLink("Nazad na listu", "Index")
</p>
