@model FaktureStavkeApp.Models.Fakture

@{
    ViewBag.Title = "Edit";
}

<h2>Uredi fakturu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 
    @Html.EditorFor(model => model.FakturaID, new { htmlAttributes = new { @class = "hidden" } })
    @Html.EditorFor(model => model.IznosPorezaUPostotcima, new { htmlAttributes = new { @class = "hidden" } })
    @Html.EditorFor(model => model.BrojFakture, new { htmlAttributes = new { @class = "hidden" } })
    @Html.EditorFor(model => model.IznosPorezaUPostotcima, new { htmlAttributes = new { @class = "hidden" } })
    @Html.EditorFor(model => model.KorisnikId, new { htmlAttributes = new { @class = "hidden" } })
   
    <div class="form-group">
        @Html.Label("Datum dospijeća", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DatumDospijeca, new { htmlAttributes = new { @class = "form-control" } })
            @*<input type="date" value="model=>model.DatumDospijeca" name="DatumDospijeca" class="form-control"/>*@
            @Html.ValidationMessageFor(model => model.DatumDospijeca, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Primatelj računa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrimateljRacuna, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrimateljRacuna, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sačuvaj" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>
